---
title: Web Verification
sidebar_position: 1
---

# Web ID Verification using W3C DC API